#create_form_container{
    border: 4px red solid;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
        display: inline-block;

}
input{
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
}

#seed_btn_container{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
#seed{
    margin: 10px auto;
    padding: 15px;
    font-size: 20px;
    border-radius: 4px;
    background-color: green;
    border: green;
}

.form_btn{
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 5px;
}

#update_form_container{
    border: 4px blue solid;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}

#delete_form_container{
    border: 4px yellow solid;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}

#get_all_users_container{
    margin-top: 70px;
    text-align: center;
    

}
#user_info_container{
    border: 4px blueviolet solid;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    margin-right: 50px;
    margin-left: 100px;
}

#text_area{
    font-size: 20px;
}